*{  font-family: 'Jura', sans-serif;
    font-family: 'Orbitron', sans-serif;}

:root{--first-color : #2B9DF4}
.color-1{color: #2B9DF4;}

h1,h2{color: white;
      font-family: 'Orbitron', sans-serif;  
}


h3,h4,h5,h6{color:white;
            font-family: 'Jura', sans-serif;
}


body{ background-color: black;
}

.imgHeader{
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.400), rgb(0, 0, 0)),url('./img/moon.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.border-couter{border-bottom: 1px solid #2B9DF4 ;
}
.imgMissile{
    background: url('/img/missile-2027068_1280.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    height: 100%;
    }
    @media screen and (max-width: 576px) {
        .imgMissile{
          background:none;
        }
      }
 
    .btn_personalizzato{
      width: 75px;
      height: 45px;
      background: linear-gradient(to right, var(--first-color) 2px, transparent 2px) 0 0,
      linear-gradient(to right, var(--first-color) 2px, transparent 2px) 0 100%,
      linear-gradient(to left, var(--first-color) 2px, transparent 2px) 100% 0,
      linear-gradient(to left, var(--first-color) 2px, transparent 2px) 100% 100%,
      linear-gradient(to bottom, var(--first-color) 2px, transparent 2px) 0 0,
      linear-gradient(to bottom, var(--first-color) 2px, transparent 2px) 100% 0,
      linear-gradient(to top, var(--first-color) 2px, transparent 2px) 0 100%,
      linear-gradient(to top, var(--first-color) 2px, transparent 2px) 100% 100%;
      background-repeat: no-repeat;
      background-size: 10px 10px;
      color: white;
  }

  .imgFooter{
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.400), rgb(0, 0, 0)), url(./img/sunrise-1765027_1920.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    
   

}